.app {
  padding: 0px;
  
  
}

.app > div {
  margin-right: 50px;
}

.error {
  border: purple 1px solid;
}

.error-message {
  color: purple;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  opacity: 0.5;
}
